<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    <li class="is-active orbit-slide">
      <img class="orbit-image" src="https://placeholdit.imgix.net/~text?txtsize=188&txt=1nd&w=2000&h=750" alt="Space"> 
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="https://placeholdit.imgix.net/~text?txtsize=188&txt=2nd&w=2000&h=750" alt="Space"> 
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="https://placeholdit.imgix.net/~text?txtsize=188&txt=3nd&w=2000&h=750" alt="Space">
    </li>
    <li class="orbit-slide">
      <img class="orbit-image" src="https://placeholdit.imgix.net/~text?txtsize=188&txt=4nd&w=2000&h=750" alt="Space">
    </li>
  </ul>
  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
    <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
    <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
    <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
  </nav>
</div>