<h2>Produtos selecionados</h2>

<div class="row">
	<table>
  		<thead>
    		<tr>
      			<th>Código</th>
      			<th>Nome</th>
      			<th>Qtde.</th>
    		</tr>
  		</thead>
  		<tbody>
    		<tr ng-repeat="product in $ctrl.products_cart">
		    	<td>{{product.id}}</td>
		      	<td>{{product.name}}</td>
		      	<td>{{product.qtd}}</td>
		    </tr>
  		</tbody>
	</table>
</div>