<div class="row">
    <div class="small-6 large-3 columns" ng-repeat="product in $ctrl.products">
        <img class="orbit-image" src="https://placeholdit.imgix.net/~text?txtsize=188&txt=3nd&w=500&h=500" alt="Space">
        <span>{{product.name}}</span>
        <div class="row">
            <div class="small-4 small-centered columns">
                <label>
                    Qtde:
                    <input class="radius" type="number" value="1">
                </label>
            </div>
        </div>
        <button type="button"  ng-click="$ctrl.addCart(product)" class="expanded button">Adicionar no carrinho</button>
        <a href="#!/product/{{product.id}}" class="expanded hollow button">Ver detalhes</a>
    </div>
</div>