
<br>
<div class="row">
    <div class="medium-6 large-5 columns">
        <img src="https://placeholdit.imgix.net/~text?txtsize=188&txt=4nd&w=2000&h=2000" alt="{{$ctrl.product.name}}">
    </div>
    <div class="medium-7 large-6 columns">
        <h2>{{$ctrl.product.name}}</h2>
        <small>{{$ctrl.product.cod}}</small>
        <br>
        <div class="price">{{$ctrl.product.price}}</div>
        <br>
        <div class="row">
            <div class="small-4 large-2 columns">
                <label>
                    Qtde:
                    <input class="radius" type="number" value="1">
                </label>
            </div>
            
        </div>
        <button type="button" class="button ">Adicionar no carrinho</button> 
        
        <p>{{$ctrl.product.description}}</p>
    </div>
</div>
<br>
