<hr>
<div class="row">
    <ul class="menu expanded">
      <li class="text-center"><a href="#"><span>One</span></a></li>
      <li class="text-center"><a href="#"><span>Two</span></a></li>
      <li class="text-center"><a href="#"><span>Three</span></a></li>
      <li class="text-center"><a href="#"><span>Four</span></a></li>
      <li class="text-center"><a href="#"><span>Five</span></a></li>
    </ul>
</div>
<hr>